@page "/Attendance"
<h1>ATTENDANCE</h1>
<div>
	@* this is the world clock *@
	<h3>00:00:00</h3>
</div>
<form>
	<button>Take Photo</button>
	<button>Choose Photo</button>

	<button>Clock In</button>
	<button>Clock Out</button>
</form>