@page "/"
<div id="info-dock">
	<div class="" id="info-dock-item">Buses on Hub:</div>
	<div class="" id="info-dock-item">Buses on Ride:</div>
	<div class="" id="info-dock-item">Successful Dispatches:</div>
	<div class="" id="info-dock-item">Online:</div>
</div>
<button>Attendance</button>
<button></button>