<h1>Violation Report</h1>

<label>Offender's Name:</label>
<input type="text" name="?" />
     
<label for="violations">Type of violation:</label>
    <select name="violations" id="violations">
        <option value="overcharging">Overcharging</option>
        <option value="noTicket">No Ticket</option>
    </select>
   
<label for="dateOfOccurence">Date and Time of Occurence:</label>
<input type="text" name="?"/>

<label for="whereItHappen">Where it happened:</label>
<select name="whereItHappen" id="whereItHappen">
    <option value="PITX">PITX</option>
    <option value="macapagal">Macapagal - City of Dreams</option>
    <option value="macapagal">Macapagal - DFA</option>
    <option value="roxasBlvd">Roxas Boulevard</option>
    <option value="taftAve">Taft Avenue</option>
    <option value="mrt3Ayala">Ayala</option>
    <option value="mrt3Buendia">Buendia</option>
    <option value="guadalupe">Guadalupe Bridge</option>
    <option value="mrt3Ortigas">Ortigas</option>
    <option value="mrt3Santolan">Santolan</option>
    <option value="mainAve">Main Avenue</option>
    <option value="mrt3QuezonAve">Quezon Avenue</option>
    <option value="mrt3NorthAve">North Avenue</option>
    <option value="lrt1Roosevelt">Roosevelt</option>
    <option value="kaingin">Kaingin</option>
    <option value="balintawak">Balintawak</option>
    <option value="bagongBarrio">Bagong Barrio</option>
    <option value="monumento">Monumento</option>
</select>

<label for="busBodyNumber">Bus Body Number:</label>
<input type="text" name="?" />

<div style="text-align:right">
    <button class="btn btn-primary" type="submit">
        Back
    </button>
</div>

<div style="text-align:right">
    <button class="btn btn-primary" type="submit">
        Next
    </button>
</div>




@code {

}
