@page "/OM_ManageUsers"
<h1>Users</h1>
<p>This page consists of dispatchers, drivers, inspectors, and HRs</p>
<button>Add User</button>
<table>
	<thead>
		<tr>
			<th>Username</th>
			<th>Last Name</th>
			<th>First Name</th>
			<th>Middle Name</th>
			<th>Role</th>
			<th>Age</th>
			<th>Gender</th>
			<th>Contact Number</th>
			<th>Email</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>denden</td>
			<td>Antoine</td>
			<td>Denise</td>
			<td>Makitig</td>
			<td>Dispatcher</td>
			<td>45</td>
			<td>Male</td>
			<td>9237842111</td>
			<td>denden29@gmail.com</td>
			<td>
				<a href="">Edit</a>
				<a href="">Delete</a>
			</td>
		</tr>
		<tr>
			<td>denden</td>
			<td>Antoine</td>
			<td>Denise</td>
			<td>Makitig</td>
			<td>Dispatcher</td>
			<td>45</td>
			<td>Male</td>
			<td>9237842111</td>
			<td>denden29@gmail.com</td>
			<td>
				<a href="">Edit</a>
				<a href="">Delete</a>
			</td>
		</tr>
	</tbody>
</table>