@page "/OM_PopulateBuses"
<title>

</title>
<button>Add Buses</button>
<table>
	<thead>
		<tr>
			<th>Plate Number</th>
			<th>VIN/Body Number</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>